<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">TO DO LISTS</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">HOME</a></li>
          <li><a href="/worklist">WORK LIST</a></li>
          <li ><a href="/Studentlist">STUDENT LIST</a></li>
          <li ><a href="/Weekendlist">WEEKEND LIST</a></li>
        </ul>
    </div>
  </nav>
</head>

<body>
 